## Question 1: Comprehensive Data Acquisition and Preprocessing 
**Task:** 
Download and preprocess CO2 emissions data along with a wide range of socio-economic 
and environmental indicators from the World Bankâ€™s Climate Change database. 
 
**Instructions:** 
1. Access the World Bank database using Python, R, or MATLAB. 
2. Download CO2 emissions data and as many relevant socio-economic and environmental 
indicators as possible (e.g., GDP, population, energy consumption, urbanization rate, 
education level, etc.). 
3. Clean and preprocess the data, addressing missing values, outliers, and ensuring 
consistency across indicators. 
4. Provide a detailed summary of the dataset, including key statistics, correlations between 
variables, and any notable patterns or anomalies

In [1]:
from helpers import GetData, DataFrameAnalyzer, ManipulateData
import pandas as pd

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
data_getter = GetData()

In [4]:
indicators_id_ls = ['EG.USE.PCAP.KG.OE', 'EG.USE.ELEC.KH.PC', 'NY.GDP.MKTP.CD', 'EN.ATM.CO2E.KT', 'SP.POP.TOTL', 'SP.URB.TOTL', 'SE.PRM.CMPT.ZS', 'EG.ELC.RNEW.ZS']
indicators_name_ls = ['energy_use', 'elect_power_consm', 'gdp', 'cotwo_emissions', 'popu_total', 'urban_popu', 'primary_completion_rate', 'renewable_elec_output']
# data_getter.download_data(indicators_id_ls, 'raw_data')

In [5]:
# Unzip and rename csv files. Uncomment if its the first time you run the notebook
# data_getter.unzip_downloaded_files()
# data_getter.rename_csv_files(indicator_ids=indicators_id_ls)

In [6]:
# Create a dictionary of dataframes
csv_files = {}
for indicator_name, indicator_id in list(zip(indicators_name_ls, indicators_id_ls)):
    print(indicator_name, indicator_id)
    csv_files[indicator_name] = f'raw_data/csv_files/{indicator_id}.csv'

print(csv_files)

data_frames = {var_name: pd.read_csv(file_path, skiprows=4) for var_name, file_path in csv_files.items()}

energy_use EG.USE.PCAP.KG.OE
elect_power_consm EG.USE.ELEC.KH.PC
gdp NY.GDP.MKTP.CD
cotwo_emissions EN.ATM.CO2E.KT
popu_total SP.POP.TOTL
urban_popu SP.URB.TOTL
primary_completion_rate SE.PRM.CMPT.ZS
renewable_elec_output EG.ELC.RNEW.ZS
{'energy_use': 'raw_data/csv_files/EG.USE.PCAP.KG.OE.csv', 'elect_power_consm': 'raw_data/csv_files/EG.USE.ELEC.KH.PC.csv', 'gdp': 'raw_data/csv_files/NY.GDP.MKTP.CD.csv', 'cotwo_emissions': 'raw_data/csv_files/EN.ATM.CO2E.KT.csv', 'popu_total': 'raw_data/csv_files/SP.POP.TOTL.csv', 'urban_popu': 'raw_data/csv_files/SP.URB.TOTL.csv', 'primary_completion_rate': 'raw_data/csv_files/SE.PRM.CMPT.ZS.csv', 'renewable_elec_output': 'raw_data/csv_files/EG.ELC.RNEW.ZS.csv'}

In [7]:
analyzer = DataFrameAnalyzer()

In [8]:
analyzer.print_shape(data_frames)

Shape of energy_use: (266, 69)
Shape of elect_power_consm: (266, 69)
Shape of gdp: (266, 69)
Shape of cotwo_emissions: (266, 69)
Shape of popu_total: (266, 69)
Shape of urban_popu: (266, 69)
Shape of primary_completion_rate: (266, 69)
Shape of renewable_elec_output: (266, 69)

In [9]:
analyzer.print_info(data_frames)

Info of energy_use:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            31 non-null     float64
 5   1961            31 non-null     float64
 6   1962            31 non-null     float64
 7   1963            31 non-null     float64
 8   1964            31 non-null     float64
 9   1965            32 non-null     float64
 10  1966            32 non-null     float64
 11  1967            32 non-null     float64
 12  1968            32 non-null     float64
 13  1969            32 non-null     float64
 14  1970            32 non-null     float64
 15  1971            151 non-null    float64
 16  1972            151 non-null    float64
 17  1973            151 non-null    float64
 18  1974            151 non-null    float64
 19  1975            151 non-null    float64
 20  1976            151 non-null    float64
 21  1977            151 non-null    float64
 22  1978            151 non-null    float64
 23  1979            151 non-null    float64
 24  1980            151 non-null    float64
 25  1981            152 non-null    float64
 26  1982            152 non-null    float64
 27  1983            152 non-null    float64
 28  1984            152 non-null    float64
 29  1985            153 non-null    float64
 30  1986            153 non-null    float64
 31  1987            153 non-null    float64
 32  1988            153 non-null    float64
 33  1989            153 non-null    float64
 34  1990            207 non-null    float64
 35  1991            177 non-null    float64
 36  1992            178 non-null    float64
 37  1993            178 non-null    float64
 38  1994            178 non-null    float64
 39  1995            179 non-null    float64
 40  1996            179 non-null    float64
 41  1997            179 non-null    float64
 42  1998            179 non-null    float64
 43  1999            179 non-null    float64
 44  2000            183 non-null    float64
 45  2001            183 non-null    float64
 46  2002            183 non-null    float64
 47  2003            183 non-null    float64
 48  2004            217 non-null    float64
 49  2005            218 non-null    float64
 50  2006            218 non-null    float64
 51  2007            218 non-null    float64
 52  2008            184 non-null    float64
 53  2009            184 non-null    float64
 54  2010            184 non-null    float64
 55  2011            184 non-null    float64
 56  2012            185 non-null    float64
 57  2013            185 non-null    float64
 58  2014            178 non-null    float64
 59  2015            40 non-null     float64
 60  2016            0 non-null      float64
 61  2017            0 non-null      float64
 62  2018            0 non-null      float64
 63  2019            0 non-null      float64
 64  2020            0 non-null      float64
 65  2021            0 non-null      float64
 66  2022            0 non-null      float64
 67  2023            0 non-null      float64
 68  Unnamed: 68     0 non-null      float64
dtypes: float64(65), object(4)
memory usage: 143.5+ KB
None

==================================================

Info of elect_power_consm:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            31 non-null     float64
 5   1961            31 non-null     float64
 6   1962            31 non-null     float64
 7   1963            31 non-null     float64
 8   1964            31 non-null     float64
 9   1965            32 non-null     float64
 10  1966            32 non-null     float64
 11  1967            32 non-null     float64
 12  1968            32 non-null     float64
 13  1969            32 non-null     float64
 14  1970            32 non-null     float64
 15  1971            151 non-null    float64
 16  1972            151 non-null    float64
 17  1973            151 non-null    float64
 18  1974            151 non-null    float64
 19  1975            151 non-null    float64
 20  1976            151 non-null    float64
 21  1977            151 non-null    float64
 22  1978            151 non-null    float64
 23  1979            151 non-null    float64
 24  1980            151 non-null    float64
 25  1981            152 non-null    float64
 26  1982            152 non-null    float64
 27  1983            152 non-null    float64
 28  1984            152 non-null    float64
 29  1985            153 non-null    float64
 30  1986            153 non-null    float64
 31  1987            153 non-null    float64
 32  1988            153 non-null    float64
 33  1989            153 non-null    float64
 34  1990            176 non-null    float64
 35  1991            177 non-null    float64
 36  1992            178 non-null    float64
 37  1993            178 non-null    float64
 38  1994            178 non-null    float64
 39  1995            179 non-null    float64
 40  1996            179 non-null    float64
 41  1997            179 non-null    float64
 42  1998            179 non-null    float64
 43  1999            179 non-null    float64
 44  2000            183 non-null    float64
 45  2001            183 non-null    float64
 46  2002            183 non-null    float64
 47  2003            183 non-null    float64
 48  2004            183 non-null    float64
 49  2005            184 non-null    float64
 50  2006            184 non-null    float64
 51  2007            184 non-null    float64
 52  2008            184 non-null    float64
 53  2009            184 non-null    float64
 54  2010            184 non-null    float64
 55  2011            184 non-null    float64
 56  2012            185 non-null    float64
 57  2013            185 non-null    float64
 58  2014            185 non-null    float64
 59  2015            1 non-null      float64
 60  2016            1 non-null      float64
 61  2017            1 non-null      float64
 62  2018            1 non-null      float64
 63  2019            1 non-null      float64
 64  2020            0 non-null      float64
 65  2021            0 non-null      float64
 66  2022            0 non-null      float64
 67  2023            0 non-null      float64
 68  Unnamed: 68     0 non-null      float64
dtypes: float64(65), object(4)
memory usage: 143.5+ KB
None

==================================================

Info of gdp:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            138 non-null    float64
 5   1961            142 non-null    float64
 6   1962            144 non-null    float64
 7   1963            144 non-null    float64
 8   1964            144 non-null    float64
 9   1965            154 non-null    float64
 10  1966            155 non-null    float64
 11  1967            158 non-null    float64
 12  1968            159 non-null    float64
 13  1969            159 non-null    float64
 14  1970            181 non-null    float64
 15  1971            182 non-null    float64
 16  1972            182 non-null    float64
 17  1973            182 non-null    float64
 18  1974            182 non-null    float64
 19  1975            186 non-null    float64
 20  1976            186 non-null    float64
 21  1977            189 non-null    float64
 22  1978            188 non-null    float64
 23  1979            189 non-null    float64
 24  1980            197 non-null    float64
 25  1981            198 non-null    float64
 26  1982            200 non-null    float64
 27  1983            201 non-null    float64
 28  1984            203 non-null    float64
 29  1985            205 non-null    float64
 30  1986            205 non-null    float64
 31  1987            212 non-null    float64
 32  1988            216 non-null    float64
 33  1989            220 non-null    float64
 34  1990            236 non-null    float64
 35  1991            236 non-null    float64
 36  1992            239 non-null    float64
 37  1993            243 non-null    float64
 38  1994            244 non-null    float64
 39  1995            247 non-null    float64
 40  1996            247 non-null    float64
 41  1997            247 non-null    float64
 42  1998            249 non-null    float64
 43  1999            250 non-null    float64
 44  2000            251 non-null    float64
 45  2001            252 non-null    float64
 46  2002            256 non-null    float64
 47  2003            256 non-null    float64
 48  2004            256 non-null    float64
 49  2005            256 non-null    float64
 50  2006            257 non-null    float64
 51  2007            257 non-null    float64
 52  2008            258 non-null    float64
 53  2009            258 non-null    float64
 54  2010            258 non-null    float64
 55  2011            261 non-null    float64
 56  2012            259 non-null    float64
 57  2013            259 non-null    float64
 58  2014            260 non-null    float64
 59  2015            258 non-null    float64
 60  2016            258 non-null    float64
 61  2017            258 non-null    float64
 62  2018            258 non-null    float64
 63  2019            258 non-null    float64
 64  2020            257 non-null    float64
 65  2021            256 non-null    float64
 66  2022            250 non-null    float64
 67  2023            234 non-null    float64
 68  Unnamed: 68     0 non-null      float64
dtypes: float64(65), object(4)
memory usage: 143.5+ KB
None

==================================================

Info of cotwo_emissions:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            0 non-null      float64
 5   1961            0 non-null      float64
 6   1962            0 non-null      float64
 7   1963            0 non-null      float64
 8   1964            0 non-null      float64
 9   1965            0 non-null      float64
 10  1966            0 non-null      float64
 11  1967            0 non-null      float64
 12  1968            0 non-null      float64
 13  1969            0 non-null      float64
 14  1970            0 non-null      float64
 15  1971            0 non-null      float64
 16  1972            0 non-null      float64
 17  1973            0 non-null      float64
 18  1974            0 non-null      float64
 19  1975            0 non-null      float64
 20  1976            0 non-null      float64
 21  1977            0 non-null      float64
 22  1978            0 non-null      float64
 23  1979            0 non-null      float64
 24  1980            0 non-null      float64
 25  1981            0 non-null      float64
 26  1982            0 non-null      float64
 27  1983            0 non-null      float64
 28  1984            0 non-null      float64
 29  1985            0 non-null      float64
 30  1986            0 non-null      float64
 31  1987            0 non-null      float64
 32  1988            0 non-null      float64
 33  1989            0 non-null      float64
 34  1990            238 non-null    float64
 35  1991            239 non-null    float64
 36  1992            239 non-null    float64
 37  1993            239 non-null    float64
 38  1994            239 non-null    float64
 39  1995            239 non-null    float64
 40  1996            239 non-null    float64
 41  1997            239 non-null    float64
 42  1998            239 non-null    float64
 43  1999            239 non-null    float64
 44  2000            239 non-null    float64
 45  2001            239 non-null    float64
 46  2002            239 non-null    float64
 47  2003            239 non-null    float64
 48  2004            239 non-null    float64
 49  2005            239 non-null    float64
 50  2006            239 non-null    float64
 51  2007            239 non-null    float64
 52  2008            239 non-null    float64
 53  2009            239 non-null    float64
 54  2010            239 non-null    float64
 55  2011            239 non-null    float64
 56  2012            239 non-null    float64
 57  2013            239 non-null    float64
 58  2014            239 non-null    float64
 59  2015            239 non-null    float64
 60  2016            239 non-null    float64
 61  2017            239 non-null    float64
 62  2018            239 non-null    float64
 63  2019            239 non-null    float64
 64  2020            239 non-null    float64
 65  2021            0 non-null      float64
 66  2022            0 non-null      float64
 67  2023            0 non-null      float64
 68  Unnamed: 68     0 non-null      float64
dtypes: float64(65), object(4)
memory usage: 143.5+ KB
None

==================================================

Info of popu_total:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            264 non-null    float64
 5   1961            264 non-null    float64
 6   1962            264 non-null    float64
 7   1963            264 non-null    float64
 8   1964            264 non-null    float64
 9   1965            264 non-null    float64
 10  1966            264 non-null    float64
 11  1967            264 non-null    float64
 12  1968            264 non-null    float64
 13  1969            264 non-null    float64
 14  1970            264 non-null    float64
 15  1971            264 non-null    float64
 16  1972            264 non-null    float64
 17  1973            264 non-null    float64
 18  1974            264 non-null    float64
 19  1975            264 non-null    float64
 20  1976            264 non-null    float64
 21  1977            264 non-null    float64
 22  1978            264 non-null    float64
 23  1979            264 non-null    float64
 24  1980            264 non-null    float64
 25  1981            264 non-null    float64
 26  1982            264 non-null    float64
 27  1983            264 non-null    float64
 28  1984            264 non-null    float64
 29  1985            264 non-null    float64
 30  1986            264 non-null    float64
 31  1987            264 non-null    float64
 32  1988            264 non-null    float64
 33  1989            264 non-null    float64
 34  1990            265 non-null    float64
 35  1991            265 non-null    float64
 36  1992            265 non-null    float64
 37  1993            265 non-null    float64
 38  1994            265 non-null    float64
 39  1995            265 non-null    float64
 40  1996            265 non-null    float64
 41  1997            265 non-null    float64
 42  1998            265 non-null    float64
 43  1999            265 non-null    float64
 44  2000            265 non-null    float64
 45  2001            265 non-null    float64
 46  2002            265 non-null    float64
 47  2003            265 non-null    float64
 48  2004            265 non-null    float64
 49  2005            265 non-null    float64
 50  2006            265 non-null    float64
 51  2007            265 non-null    float64
 52  2008            265 non-null    float64
 53  2009            265 non-null    float64
 54  2010            265 non-null    float64
 55  2011            265 non-null    float64
 56  2012            265 non-null    float64
 57  2013            265 non-null    float64
 58  2014            265 non-null    float64
 59  2015            265 non-null    float64
 60  2016            265 non-null    float64
 61  2017            265 non-null    float64
 62  2018            265 non-null    float64
 63  2019            265 non-null    float64
 64  2020            265 non-null    float64
 65  2021            265 non-null    float64
 66  2022            265 non-null    float64
 67  2023            265 non-null    float64
 68  Unnamed: 68     0 non-null      float64
dtypes: float64(65), object(4)
memory usage: 143.5+ KB
None

==================================================

Info of urban_popu:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            262 non-null    float64
 5   1961            262 non-null    float64
 6   1962            262 non-null    float64
 7   1963            262 non-null    float64
 8   1964            262 non-null    float64
 9   1965            262 non-null    float64
 10  1966            262 non-null    float64
 11  1967            262 non-null    float64
 12  1968            262 non-null    float64
 13  1969            262 non-null    float64
 14  1970            262 non-null    float64
 15  1971            262 non-null    float64
 16  1972            262 non-null    float64
 17  1973            262 non-null    float64
 18  1974            262 non-null    float64
 19  1975            262 non-null    float64
 20  1976            262 non-null    float64
 21  1977            262 non-null    float64
 22  1978            262 non-null    float64
 23  1979            262 non-null    float64
 24  1980            262 non-null    float64
 25  1981            262 non-null    float64
 26  1982            262 non-null    float64
 27  1983            262 non-null    float64
 28  1984            262 non-null    float64
 29  1985            262 non-null    float64
 30  1986            262 non-null    float64
 31  1987            262 non-null    float64
 32  1988            262 non-null    float64
 33  1989            262 non-null    float64
 34  1990            263 non-null    float64
 35  1991            263 non-null    float64
 36  1992            263 non-null    float64
 37  1993            263 non-null    float64
 38  1994            263 non-null    float64
 39  1995            263 non-null    float64
 40  1996            263 non-null    float64
 41  1997            263 non-null    float64
 42  1998            263 non-null    float64
 43  1999            263 non-null    float64
 44  2000            263 non-null    float64
 45  2001            263 non-null    float64
 46  2002            263 non-null    float64
 47  2003            263 non-null    float64
 48  2004            263 non-null    float64
 49  2005            263 non-null    float64
 50  2006            263 non-null    float64
 51  2007            263 non-null    float64
 52  2008            263 non-null    float64
 53  2009            263 non-null    float64
 54  2010            263 non-null    float64
 55  2011            263 non-null    float64
 56  2012            263 non-null    float64
 57  2013            263 non-null    float64
 58  2014            263 non-null    float64

### Data Cleaning

In [13]:
# Remove all the non-country rows in each dataframe
manipulate_data = ManipulateData()
data_frames = manipulate_data.eliminate_non_country_data(dataframe_dict=data_frames)

In [14]:
# Checking new shapes
analyzer.print_shape(data_frames)

Shape of energy_use: (186, 69)
Shape of elect_power_consm: (186, 69)
Shape of gdp: (186, 69)
Shape of cotwo_emissions: (186, 69)
Shape of popu_total: (186, 69)
Shape of urban_popu: (186, 69)
Shape of primary_completion_rate: (186, 69)
Shape of renewable_elec_output: (186, 69)

In [15]:
cotwo_clean_df = data_frames['cotwo_emissions'].dropna(axis=1, how='all')
cotwo_clean_df = cotwo_clean_df.dropna(thresh=10)
cotwo_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, 2 to 265
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    169 non-null    object
 1   Country Code    169 non-null    object
 2   Indicator Name  169 non-null    object
 3   Indicator Code  169 non-null    object
 4   1990            168 non-null    float64
 5   1991            169 non-null    float64
 6   1992            169 non-null    float64
 7   1993            169 non-null    float64
 8   1994            169 non-null    float64
 9   1995            169 non-null    float64
 10  1996            169 non-null    float64
 11  1997            169 non-null    float64
 12  1998            169 non-null    float64
 13  1999            169 non-null    float64
 14  2000            169 non-null    float64
 15  2001            169 non-null    float64
 16  2002            169 non-null    float64
 17  2003            169 non-null    float64
 18  2004            169 non-null    float64
 19  2005            169 non-null    float64
 20  2006            169 non-null    float64
 21  2007            169 non-null    float64
 22  2008            169 non-null    float64
 23  2009            169 non-null    float64
 24  2010            169 non-null    float64
 25  2011            169 non-null    float64
 26  2012            169 non-null    float64
 27  2013            169 non-null    float64
 28  2014            169 non-null    float64
 29  2015            169 non-null    float64
 30  2016            169 non-null    float64
 31  2017            169 non-null    float64
 32  2018            169 non-null    float64
 33  2019            169 non-null    float64
 34  2020            169 non-null    float64
dtypes: float64(31), object(4)
memory usage: 47.5+ KB

In [16]:
# Make all other dataframes to have the same years and countries as the CO2 emissions dataframe
data_frames['cotwo_emissions'] = cotwo_clean_df
analyzer.check_column_names_equal(dataframes=data_frames)
data_frames = manipulate_data.modify_dataframes_based_on_a_target_dataframe(dataframe_dict=data_frames)

The dataframe energy_use has different column names
The dataframe elect_power_consm has different column names
The dataframe gdp has different column names
- All columns are equal -
The dataframe popu_total has different column names
The dataframe urban_popu has different column names
The dataframe primary_completion_rate has different column names
The dataframe renewable_elec_output has different column names

In [17]:
analyzer.check_column_names_equal(data_frames)

- All columns are equal -
- All columns are equal -
- All columns are equal -
- All columns are equal -
- All columns are equal -
- All columns are equal -
- All columns are equal -
- All columns are equal -

In [19]:
analyzer.print_shape(data_frames)

Shape of energy_use: (169, 35)
Shape of elect_power_consm: (169, 35)
Shape of gdp: (169, 35)
Shape of cotwo_emissions: (169, 35)
Shape of popu_total: (169, 35)
Shape of urban_popu: (169, 35)
Shape of primary_completion_rate: (169, 35)
Shape of renewable_elec_output: (169, 35)

In [20]:
analyzer.print_info(data_frames)

Info of energy_use:
<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, 2 to 265
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    169 non-null    object
 1   Country Code    169 non-null    object
 2   Indicator Name  169 non-null    object
 3   Indicator Code  169 non-null    object
 4   1990            138 non-null    float64
 5   1991            117 non-null    float64
 6   1992            118 non-null    float64
 7   1993            118 non-null    float64
 8   1994            118 non-null    float64
 9   1995            119 non-null    float64
 10  1996            119 non-null    float64
 11  1997            119 non-null    float64
 12  1998            119 non-null    float64
 13  1999            119 non-null    float64
 14  2000            121 non-null    float64
 15  2001            121 non-null    float64
 16  2002            121 non-null    float64
 17  2003            121 non-null    float64
 18  2004            146 non-null    float64
 19  2005            147 non-null    float64
 20  2006            147 non-null    float64
 21  2007            147 non-null    float64
 22  2008            122 non-null    float64
 23  2009            122 non-null    float64
 24  2010            122 non-null    float64
 25  2011            122 non-null    float64
 26  2012            123 non-null    float64
 27  2013            123 non-null    float64
 28  2014            119 non-null    float64
 29  2015            31 non-null     float64
 30  2016            0 non-null      float64
 31  2017            0 non-null      float64
 32  2018            0 non-null      float64
 33  2019            0 non-null      float64
 34  2020            0 non-null      float64
dtypes: float64(31), object(4)
memory usage: 47.5+ KB
None

==================================================

Info of elect_power_consm:
<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, 2 to 265
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    169 non-null    object
 1   Country Code    169 non-null    object
 2   Indicator Name  169 non-null    object
 3   Indicator Code  169 non-null    object
 4   1990            116 non-null    float64
 5   1991            117 non-null    float64
 6   1992            118 non-null    float64
 7   1993            118 non-null    float64
 8   1994            118 non-null    float64
 9   1995            119 non-null    float64
 10  1996            119 non-null    float64
 11  1997            119 non-null    float64
 12  1998            119 non-null    float64
 13  1999            119 non-null    float64
 14  2000            121 non-null    float64
 15  2001            121 non-null    float64
 16  2002            121 non-null    float64
 17  2003            121 non-null    float64
 18  2004            121 non-null    float64
 19  2005            122 non-null    float64
 20  2006            122 non-null    float64
 21  2007            122 non-null    float64
 22  2008            122 non-null    float64
 23  2009            122 non-null    float64
 24  2010            122 non-null    float64
 25  2011            122 non-null    float64
 26  2012            123 non-null    float64
 27  2013            123 non-null    float64
 28  2014            123 non-null    float64
 29  2015            1 non-null      float64
 30  2016            1 non-null      float64
 31  2017            1 non-null      float64
 32  2018            1 non-null      float64
 33  2019            1 non-null      float64
 34  2020            0 non-null      float64
dtypes: float64(31), object(4)
memory usage: 47.5+ KB
None

==================================================

Info of gdp:
<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, 2 to 265
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    169 non-null    object
 1   Country Code    169 non-null    object
 2   Indicator Name  169 non-null    object
 3   Indicator Code  169 non-null    object
 4   1990            158 non-null    float64
 5   1991            159 non-null    float64
 6   1992            161 non-null    float64
 7   1993            164 non-null    float64
 8   1994            164 non-null    float64
 9   1995            166 non-null    float64
 10  1996            166 non-null    float64
 11  1997            166 non-null    float64
 12  1998            167 non-null    float64
 13  1999            167 non-null    float64
 14  2000            168 non-null    float64
 15  2001            168 non-null    float64
 16  2002            168 non-null    float64
 17  2003            168 non-null    float64
 18  2004            168 non-null    float64
 19  2005            168 non-null    float64
 20  2006            168 non-null    float64
 21  2007            168 non-null    float64
 22  2008            169 non-null    float64
 23  2009            169 non-null    float64
 24  2010            169 non-null    float64
 25  2011            169 non-null    float64
 26  2012            168 non-null    float64
 27  2013            168 non-null    float64
 28  2014            168 non-null    float64
 29  2015            168 non-null    float64
 30  2016            167 non-null    float64
 31  2017            167 non-null    float64
 32  2018            167 non-null    float64
 33  2019            167 non-null    float64
 34  2020            167 non-null    float64
dtypes: float64(31), object(4)
memory usage: 47.5+ KB
None

==================================================

Info of cotwo_emissions:
<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, 2 to 265
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    169 non-null    object
 1   Country Code    169 non-null    object
 2   Indicator Name  169 non-null    object
 3   Indicator Code  169 non-null    object
 4   1990            168 non-null    float64
 5   1991            169 non-null    float64
 6   1992            169 non-null    float64
 7   1993            169 non-null    float64
 8   1994            169 non-null    float64
 9   1995            169 non-null    float64
 10  1996            169 non-null    float64
 11  1997            169 non-null    float64
 12  1998            169 non-null    float64
 13  1999            169 non-null    float64
 14  2000            169 non-null    float64
 15  2001            169 non-null    float64
 16  2002            169 non-null    float64
 17  2003            169 non-null    float64
 18  2004            169 non-null    float64
 19  2005            169 non-null    float64
 20  2006            169 non-null    float64
 21  2007            169 non-null    float64
 22  2008            169 non-null    float64
 23  2009            169 non-null    float64
 24  2010            169 non-null    float64
 25  2011            169 non-null    float64
 26  2012            169 non-null    float64
 27  2013            169 non-null    float64
 28  2014            169 non-null    float64
 29  2015            169 non-null    float64
 30  2016            169 non-null    float64
 31  2017            169 non-null    float64
 32  2018            169 non-null    float64
 33  2019            169 non-null    float64
 34  2020            169 non-null    float64
dtypes: float64(31), object(4)
memory usage: 47.5+ KB
None

==================================================

Info of popu_total:
<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, 2 to 265
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    169 non-null    object
 1   Country Code    169 non-null    object
 2   Indicator Name  169 non-null    object
 3   Indicator Code  169 non-null    object
 4   1990            169 non-null    float64
 5   1991            169 non-null    float64
 6   1992            169 non-null    float64
 7   1993            169 non-null    float64
 8   1994            169 non-null    float64
 9   1995            169 non-null    float64
 10  1996            169 non-null    float64
 11  1997            169 non-null    float64
 12  1998            169 non-null    float64
 13  1999            169 non-null    float64
 14  2000            169 non-null    float64
 15  2001            169 non-null    float64
 16  2002            169 non-null    float64
 17  2003            169 non-null    float64
 18  2004            169 non-null    float64
 19  2005            169 non-null    float64
 20  2006            169 non-null    float64
 21  2007            169 non-null    float64
 22  2008            169 non-null    float64
 23  2009            169 non-null    float64
 24  2010            169 non-null    float64
 25  2011            169 non-null    float64
 26  2012            169 non-null    float64
 27  2013            169 non-null    float64
 28  2014            169 non-null    float64
 29  2015            169 non-null    float64
 30  2016            169 non-null    float64
 31  2017            169 non-null    float64
 32  2018            169 non-null    float64
 33  2019            169 non-null    float64
 34  2020            169 non-null    float64
dtypes: float64(31), object(4)
memory usage: 47.5+ KB
None

==================================================

Info of urban_popu:
<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, 2 to 265
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    169 non-null    object
 1   Country Code    169 non-null    object
 2   Indicator Name  169 non-null    object
 3   Indicator Code  169 non-null    object
 4   1990            169 non-null    float64
 5   1991            169 non-null    float64
 6   1992            169 non-null    float64
 7   1993            169 non-null    float64
 8   1994            169 non-null    float64
 9   1995            169 non-null    float64
 10  1996            169 non-null    float64
 11  1997            169 non-null    float64
 12  1998            169 non-null    float64
 13  1999            169 non-null    float64
 14  2000            169 non-null    float64
 15  2001            169 non-null    float64
 16  2002            169 non-null    float64
 17  2003            169 non-null    float64
 18  2004            169 non-null    float64
 19  2005            169 non-null    float64
 20  2006            169 non-null    float64
 21  2007            169 non-null    float64
 22  2008            169 non-null    float64
 23  2009            169 non-null    float64
 24  2010            169 non-null    float64
 25  2011            169 non-null    float64
 26  2012            169 non-null    float64
 27  2013            169 non-null    float64
 28  2014            169 non-null    float64
 29  2015            169 non-null    float64
 30  2016            169 non-null    float64
 31  2017            169 non-null    float64
 32  2018            169 non-null    float64
 33  2019            169 non-null    float64
 34  2020            169 non-null    float64
dtypes: float64(31), object(4)
memory usage: 47.5+ KB
None

==================================================

Info of primary_completion_rate:
<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, 2 to 265
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    169 non-null    object
 1   Country Code    169 non-null    object
 2   Indicator Name  169 non-null    object
 3   Indicator Code  169 non-null    object
 4   1990            64 non-null     float64
 5   1991            67 non-null     float64
 6   1992            73 non-null     float64
 7   1993            67 non-null     float64
 8   1994            76 non-null     float64
 9   1995            71 non-null     float64
 10  1996            68 non-null     float64
 11  1997            56 non-null     float64
 12  1998            61 non-null     float64
 13  1999            104 non-null    float64
 14  2000            107 non-null    float64
 15  2001            105 non-null    float64
 16  2002            107 non-null    float64
 17  2003            103 non-null    float64
 18  2004            108 non-null    float64
 19  2005            111 non-null    float64
 20  2006            103 non-null    float64
 21  2007            107 non-null    float64
 22  2008            113 non-null    float64
 23  2009            114 non-null    float64
 24  2010            112 non-null    float64
 25  2011            115 non-null    float64
 26  2012            116 non-null    float64
 27  2013            116 non-null    float64
 28  2014            118 non-null    float64
 29  2015            115 non-null    float64
 30  2016            116 non-null    float64
 31  2017            112 non-null    float64
 32  2018            109 non-null    float64
 33  2019            115 non-null    float64
 34  2020            103 non-null    float64
dtypes: float64(31), object(4)
memory usage: 47.5+ KB
None

==================================================

Info of renewable_elec_output:
<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, 2 to 265
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    169 non-null    object
 1   Country Code    169 non-null    object
 2   Indicator Name  169 non-null    object
 3   Indicator Code  169 non-null    object
 4   1990            169 non-null    float64
 5   1991            169 non-null    float64
 6   1992            169 non-null    float64
 7   1993            169 non-null    float64
 8   1994            169 non-null    float64
 9   1995            169 non-null    float64
 10  1996            169 non-null    float64
 11  1997            169 non-null    float64
 12  1998            169 non-null    float64
 13  1999            169 non-null    float64
 14  2000            169 non-null    float64
 15  2001            169 non-null    float64
 16  2002            169 non-null    float64
 17  2003            169 non-null    float64
 18  2004            169 non-null    float64
 19  2005            169 non-null    float64
 20  2006            169 non-null    float64
 21  2007            169 non-null    float64
 22  2008            169 non-null    float64
 23  2009            169 non-null    float64
 24  2010            169 non-null    float64
 25  2011            169 non-null    float64
 26  2012            169 non-null    float64
 27  2013            169 non-null    float64
 28  2014            169 non-null    float64
 29  2015            169 non-null    float64
 30  2016            1 non-null      float64
 31  2017            1 non-null      float64
 32  2018            1 non-null      float64
 33  2019            1 non-null      float64
 34  2020            0 non-null      float64
dtypes: float64(31), object(4)
memory usage: 47.5+ KB
None

==================================================